@keyframes lightboxFrames {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "DM Sans", sans-serif;
  margin: auto;
  padding: 20px;
  font-size: 14px;
  max-width: 1400px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

a {
  text-decoration: none;
}

.logo img {
  height: 46px;
}

@media screen and (max-width: 950px) {
  .main {
    margin-bottom: 80px;
  }
}
.button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  transition: background ease 0.2s;
}
.button:hover, .button:focus-visible {
  background: #D3573C;
  outline: none;
  transition: background ease 0.2s;
}

.sortby__list {
  display: none;
}

.sortby__list.open {
  display: block !important;
}

.lightbox_wrapper {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
.lightbox_wrapper .lightbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 90%;
  max-height: 1000px;
  background-color: white;
  padding: 25px 60px 0;
  border-radius: 5px;
  animation: lightboxFrames 0.5s;
}
.lightbox_wrapper .lightbox__media {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
}
.lightbox_wrapper .lightbox__media--source {
  width: 100%;
  height: calc(100% - 50px);
  object-fit: cover;
}
.lightbox_wrapper .lightbox__media figcaption {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 18px;
  color: #901C1C;
}

.btn_close_lightbox {
  z-index: 100;
  position: absolute;
  top: 25px;
  right: 5px;
  border: none;
  cursor: pointer;
}
.btn_close_lightbox .close {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 35px;
  height: 35px;
}
.btn_close_lightbox .close:before, .btn_close_lightbox .close:after {
  content: " ";
  position: absolute;
  left: 15px;
  width: 6px;
  height: 40px;
  border-radius: 5px;
  background-color: #901C1C;
}
.btn_close_lightbox .close:before {
  transform: rotate(45deg);
}
.btn_close_lightbox .close:after {
  transform: rotate(-45deg);
}
.btn_close_lightbox .close:hover:before, .btn_close_lightbox .close:hover:after {
  background-color: #D3573C;
}

.btn_previous, .btn_next {
  z-index: 100;
  position: absolute;
  top: 50%;
  border-radius: 5px;
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
}

.btn_previous {
  border: none;
  left: 10px;
}
.btn_previous .prev {
  width: 35px;
  height: 35px;
}
.btn_previous .prev:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 15px;
  width: 6px;
  height: 30px;
  border-radius: 5px;
  background-color: #901C1C;
}
.btn_previous .prev:after {
  content: " ";
  position: absolute;
  top: 18px;
  left: 15px;
  width: 6px;
  height: 30px;
  border-radius: 5px;
  background-color: #901C1C;
}
.btn_previous .prev:before {
  transform: rotate(45deg);
}
.btn_previous .prev:after {
  transform: rotate(-45deg);
}
.btn_previous .prev:hover:before, .btn_previous .prev:hover:after {
  background-color: #D3573C;
}

.btn_next {
  border: none;
  right: 10px;
}
.btn_next .next {
  width: 35px;
  height: 35px;
}
.btn_next .next:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 15px;
  width: 6px;
  height: 30px;
  border-radius: 5px;
  background-color: #901C1C;
}
.btn_next .next:after {
  content: " ";
  position: absolute;
  top: 18px;
  left: 15px;
  width: 6px;
  height: 30px;
  border-radius: 5px;
  background-color: #901C1C;
}
.btn_next .next:before {
  transform: rotate(-45deg);
}
.btn_next .next:after {
  transform: rotate(45deg);
}
.btn_next .next:hover:before, .btn_next .next:hover:after {
  background-color: #D3573C;
}

.contact {
  display: none;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.8);
}
.contact .modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  margin: auto;
  padding: 35px;
  border-radius: 5px;
  width: 50%;
  background-color: #DB8876;
  mix-blend-mode: normal;
  filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
}
.contact__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 19px;
  width: 100%;
  height: 100%;
}
.contact__header--title {
  font-size: 40px;
  font-weight: normal;
  line-height: 50px;
  margin: 0;
}
.contact__header--close {
  display: flex;
  position: relative;
  z-index: 100;
  padding: 0;
  border: none;
  background: transparent;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.contact__header--close:focus-visible {
  outline: none;
  transform: rotate(180deg);
  opacity: 0.6;
  transition: 0.4s ease-in-out;
}
.contact__header--close .close-icon {
  width: 2.9166666667vw;
  height: 2.9166666667vw;
}
.contact__body {
  width: 100%;
}
.contact__body #form .formData {
  display: flex;
  flex-direction: column;
}
.contact__body #form .formData label {
  color: #312E2E;
  font-size: 20px;
  line-height: 47px;
}
.contact__body #form .formData #firstname, .contact__body #form .formData #lastname, .contact__body #form .formData #email {
  height: 50px;
  padding-left: 10px;
  border: none;
  width: 96%;
}
.contact__body #form .formData #message {
  border-radius: 5px;
  height: 150px;
  resize: none;
  padding: 10px;
  width: 96%;
}
.contact__body #form .formData--input {
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  outline: none;
  padding: 8px 20px;
  width: 100%;
  font-family: inherit;
  font-size: 24px;
  line-height: 31px;
}
.contact__body #form .formData[data-error]::after {
  color: #e54858;
  font-size: get-vw(950px, 24px);
  content: attr(data-error);
  text-align: left;
  line-height: get-vw(950px, 46.87px);
  transition: 0.3s;
}
.contact__body--button {
  padding: 15px;
  font-size: 22px;
  max-width: 150px;
  font-weight: bold;
  background: #901C1C;
  border-radius: 5px;
  height: 60px;
  color: white;
  border: none;
}

#header__index {
  margin: 0 100px;
}

#main-index {
  margin-top: 50px;
}

.photographers-link {
  color: #901C1C;
}

.photographers-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 50px;
}
.photographers-index .photographer {
  width: 30%;
}
.photographers-index .photographer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}
.photographers-index .photographer__link--name {
  margin: 15px auto 5px;
  color: #D3573C;
  font-weight: 400;
  font-size: 36px;
}
.photographers-index .photographer__link--photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 1px 1px 15px rgba(150, 150, 150, 0.5);
  transition: 0.2s;
}
.photographers-index .photographer__description {
  text-align: center;
}
.photographers-index .photographer__description--city {
  color: #901C1C;
  font-size: 18px;
}
.photographers-index .photographer__description--price {
  color: #525252;
}
.photographers-index .photographer__link:focus-visible {
  outline: none;
}
.photographers-index .photographer__link:focus-visible--photo {
  transform: scale(1.2);
  opacity: 0.85;
  transition: 0.2s;
}

@media screen and (max-width: 1400px) {
  .photographers-index .photographer {
    width: 45%;
  }
}
@media screen and (max-width: 950px) {
  #header__index {
    flex-direction: column;
    margin: 0;
    padding-top: 20px;
  }
  #header__index h1 {
    margin: 0;
  }
}
#header__logo {
  padding: 0 120px;
}

@media screen and (max-width: 1400px) {
  #header__logo {
    padding: 0 20px;
  }
}
#main-photographer {
  padding: 0 120px;
}

@media screen and (max-width: 1400px) {
  #main-photographer {
    padding: 0 20px;
  }
}
.photographer-header {
  background-color: #fafafa;
  margin-top: 20px;
  padding: 20px;
}
.photographer-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 1px 1px 15px rgba(150, 150, 150, 0.5);
}
.photographer-header .photographers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.photographer-header .photographers .photographer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.photographer-header .photographers .photographer__link--name {
  color: #D3573C;
  font-weight: 400;
  font-size: 36px;
  margin: 0;
}
.photographer-header .photographers .photographer__description {
  text-align: center;
}
.photographer-header .photographers .photographer__description--city {
  margin: 0;
  color: #901C1C;
  font-size: 18px;
}
.photographer-header .photographers .photographer__description--tagline {
  margin: 0;
  color: #525252;
}

.sort {
  margin: 20px 0;
  display: flex;
  align-items: center;
  height: 50px;
}
.sort label {
  font-weight: 700;
  font-size: 16px;
  padding-right: 15px;
}
.sort .sortby {
  position: relative;
  height: 100%;
}
.sort .sortby .dropdown {
  z-index: 1;
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
}

.sortby__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 50px;
  padding: 15px;
  background-color: #901C1C;
  color: white;
  font-size: clamp(1rem, 1.7vw, 2rem);
}

.sortby__list {
  max-height: 200px;
  margin: 0;
  padding: 0 !important;
  background-color: #901C1C;
  transition: max-height 0.1s ease-in-out;
}
.sortby__list li {
  position: relative;
  width: 150px;
  font-size: clamp(1rem, 1.7vw, 2rem);
}
.sortby__list--item {
  padding: 15px;
  color: white;
}

li {
  list-style-type: none;
}

.medias-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px 60px;
}
.medias-section .media_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.medias-section .media {
  height: 260px;
  margin: 0;
  transition: all 0.2s ease-in-out;
}
.medias-section figure video + figcaption:after, .medias-section video video + figcaption:after {
  pointer-events: none;
  content: " ";
  padding: 70px 70px;
  width: 30px;
  height: 30px;
  background: url(../assets/icons/play.svg) center center/100% 100% no-repeat;
  opacity: 0.7;
  position: absolute;
  top: 65px;
  right: 90px;
}
.medias-section figure img, .medias-section figure video {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s;
}
.medias-section figure img:focus-visible, .medias-section figure video:focus-visible {
  transform: scale(1.03);
  opacity: 0.85;
  outline: 3px solid #901C1C;
  transition: 0.2s;
}
.medias-section figcaption {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 20px;
  color: #901C1C;
  width: 100%;
}
.medias-section figcaption .like-icon {
  margin-left: 8px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: inherit;
  color: inherit;
  transition: 0.2s;
}
.medias-section .likes-price {
  background: #D3573C;
  padding: 20px 40px;
  position: fixed;
  bottom: 0px;
  right: 120px;
  border-radius: 5px 5px 0 0;
  font-weight: 700;
  font-size: 20px;
}
.medias-section .likes-price i {
  margin-left: 10px;
  margin-right: 40px;
}

.likes {
  position: sticky;
  bottom: 0;
  left: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 25px;
  width: fit-content;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 22px;
  background-color: #DB8876;
}

@media screen and (max-width: 1400px) {
  .photograph-header {
    height: auto;
    margin: auto;
    justify-content: space-around;
    text-align: center;
  }
  .photograph-header img {
    margin: 40px;
  }
}
@media screen and (max-width: 950px) {
  .photograph-header {
    flex-direction: column;
    padding: 20px;
  }
  .photograph-header h1 {
    width: auto;
  }
  .photograph-header button {
    margin-top: 20px;
  }
  .photograph-header img {
    height: 100px;
    width: 100px;
  }
  .sort_section {
    margin: 20px;
  }
  .medias-section {
    margin: auto;
  }
  .medias-section .likes-price {
    width: 90%;
    left: 0px;
    border-radius: 0;
    text-align: center;
    z-index: 1;
  }
  .lightbox__container img {
    z-index: 2;
  }
}

/*# sourceMappingURL=style.css.map */
