// Body
body {
  font-family: "DM Sans", sans-serif;
  margin: auto;
  padding: 20px;
  font-size: 14px;
  max-width: 1400px;
}

header {
  @include itemSpaceCenter;
  height: 50px;
}

// Link
a {
  text-decoration: none;
}

// Logo
.logo {
  img {
    height: 46px;
  }
}

// Media screen Main
@media screen and (max-width: $small){
  .main{
    margin-bottom: 80px;
  }
}
