#header__logo {
  padding: 0 120px;
}
@media screen and (max-width: $medium) {
  #header__logo {
    padding: 0 20px;
  }
}

#main-photographer {
  padding: 0 120px;
}
@media screen and (max-width: $medium) {
  #main-photographer {
    padding: 0 20px;
  }
}

// Photographer header
.photographer-header {
  background-color: $secondary-light;
  margin-top: 20px;
  padding: 20px;
  img {
    @include pictureProfil;
  }
  .photographers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .photographer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &__link {
        &--name {
          color: $primary-light;
          font-weight: 400;
          font-size: 36px;
          margin: 0;
        }
      }
      &__description {
        text-align: center;
        &--city {
          margin: 0;
          color: $primary-dark;
          font-size: 18px;
        }
        &--tagline {
          margin: 0;
          color: $secondary-dark;
        }
      }
    }
  }
}

// sort by list
.sort {
  margin: 20px 0;
  display: flex;
  align-items: center;
  height: 50px;
  label {
    font-weight: 700;
    font-size: 16px;
    padding-right: 15px;
  }
  .sortby {
    position: relative;
    height: 100%;
    .dropdown {
      z-index: 1;
      position: absolute;
      border-radius: 5px;
      overflow: hidden;
    }
  }
}
.sortby__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 50px;
  padding: 15px;
  background-color: $primary-dark;
  color: white;
  font-size: clamp(1rem, 1.7vw, 2rem);
}
.sortby__list {
  max-height: 200px;
  margin: 0;
  padding: 0 !important;
  background-color: $primary-dark;
  transition: max-height .1s ease-in-out;
  li {
    position: relative;
    width: 150px;
    font-size: clamp(1rem, 1.7vw, 2rem);
  }
  &--item {
    padding: 15px;
    color: white;
  }
}
li {
  list-style-type: none;
}

// Medias images section
.medias-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px 60px;

  .media_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .media {
    height: 260px;
    margin: 0;
    transition: all .2s ease-in-out;
  }

  figure, video {
    video + figcaption:after{
      pointer-events:none;
      content: " ";
      padding: 70px 70px;
      width: 30px;
      height: 30px;
      background: url(../assets/icons/play.svg) center center / 100% 100% no-repeat;
      opacity: 0.7;
      position: absolute;
      top: 65px;
      right: 90px;
    }
  }
  figure img, figure video {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    transition: .2s;
    &:focus-visible{
      transform: scale(1.03);
      opacity: 0.85;
      outline: 3px solid $primary-dark;
      transition: .2s;
    }
  }

  figcaption {
    @include itemSpaceBaseline;
    font-size: 20px;
    color: $primary-dark;
    width: 100%;
    .like-icon {
      margin-left: 8px;
      cursor: pointer;
      background: none;
      border: none;
      font-size: inherit;
      color: inherit;
      transition: .2s;
    }
  }
  .likes-price {
    background: $primary-light;
    padding: 20px 40px;
    position: fixed;
    bottom : 0px;
    right : 120px;
    border-radius: 5px 5px 0 0;
    font-weight: 700;
    font-size: 20px;
    i {
      margin-left: 10px;
      margin-right: 40px;
    }
  }
}

// Likes
.likes {
  position: sticky;
  bottom: 0;
  left: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 25px;
  width: fit-content;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 22px;
  background-color: $bg-modal-color;
}

@media screen and (max-width: $medium){
  .photograph-header {
    height: auto;
    margin: auto;
    justify-content: space-around;
    text-align: center;
    img {
      margin: 40px;
    }
  }
}
@media screen and (max-width: $small){
  .photograph-header {
    flex-direction: column;
    padding: 20px;
    h1{
      width: auto;
    }
    button{
      margin-top: 20px;
    }
    img {
      height: 100px;
      width: 100px;
    }
  }
  .sort_section{
    margin: 20px;
  }
  .medias-section {
    margin: auto;
    .likes-price {
      width: 90%;
      left: 0px;
      border-radius: 0;
      text-align: center;
      z-index: 1;
    }
  }
  .lightbox__container img{
    z-index: 2;
  }
}
